<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/alums.css">
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Literata' rel='stylesheet'>
</head>

<body>

    <h1>JNV Chhonakarwara, Bharatpur, Rajasthan</h1>
    <h2>Our alums</h2>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="img/jnv2.webp" alt="Jane" style="width:100%">
                    <div class="container4">
                        <h2>Jane Doe</h2>
                        <p class="title">CEO & Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>jane@example.com</p>
                        <p><button class="button">View Complete Profile</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="img/jnv2.webp" alt="Mike" style="width:100%">
                    <div class="container4">
                        <h2>Mike Ross</h2>
                        <p class="title">Art Director</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>mike@example.com</p>
                        <p><button class="button">View Complete Profile</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="img/jnv2.webp" alt="John" style="width:100%">
                    <div class="container4">
                        <h2>John Doe</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">View Complete Profile</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="img/jnv2.webp" alt="John" style="width:100%">
                    <div class="container4">
                        <h2>John Doe</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">View Complete Profile</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="img/jnv2.webp" alt="John" style="width:100%">
                    <div class="container4">
                        <h2>John Doe</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">View Complete Profile</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="img/jnv2.webp" alt="John" style="width:100%">
                    <div class="container4">
                        <h2>John Doe</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">View Complete Profile</button></p>
                    </div>
                </div>
            </div>
        </div>
        <h1>Procedure to Add your Profile</h1>
        <p class="container3">
            <b>Profile details - </b> We urge you to provide the actual details. The soul purpose of this website is to enhance
            the quality of our alumni network. This will help in inspiring students for the future.

            <br>
            <br>
            <b>Points to be noted:</b>
        <ul class="container3">
            <li>Your details will be verified once submitted. After verification your profile will be shown here.</li>
            <li>Verification will be done by JNV Bharatpur.</li>
            <li>You can update your details later.</li>
        </ul>
        </p>
    </div>
    <h1>Thanks for visiting..</h1>
</body>

</html>