<div class="column">
        <div class="card">
                <img src="img/jnv2.webp" alt="Jane" style="width:100%">
                <div class="container4">
                        <h2>Jane Doe</h2>
                        <p class="title">CEO & Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>jane@example.com</p>
                        <p><button class="button">View Complete Profile</button></p>
                </div>
        </div>
</div>