<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Literata' rel='stylesheet'>
</head>

<body>

    <h1>Alumni Showcase portal</h1>
    <p class="container3">
        <b>Welcome to our dream come true - Jawahar Navodaya Vidyalaya Bharatpur (Raj) - </b>
        It is one of the integrated school situated at Chhonakarwara, at a distance of 50 km from the district
        headquarter Bharatpur. <br>
        <br>
        <b>The Vidyalaya Aims are:</b>
    <ul class="container3">
        <li>To provide good quality education with modern techniques to the talented children predominantly from the
            rural areas
            without regard to their economic conditions.</li>
        <li>To ensure that all students of Jawahar Navodaya Vidyalaya may attain a reasonable level of competency in
            three language
            formula i.e. in Hindi, English and Gujrati.</li>
        <li>To serve, in the district, as focal points for improvements in quality of school education through sharing
            of
            experiences and facilities.</li>
    </ul>
    </p>
    <form class="container3" method="get" action="/signup">
        <input type="submit" value="Register to Access portal">
    </form>
    <form class="container3" method="get" action="/login">
        <input type="submit" value="Login to Access portal">
    </form>
    <form class="container3" method="get" action="/alums">
        <input type="submit" value="View all Alumni">
    </form>
</body>

</html>