<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Literata' rel='stylesheet'>
</head>

<body>
    <form class="container3" method="GET" action="/signup">
        <input type="submit" value="Register to Access portal">
    </form>
    <form class="container3" method="get" action="/login">
        <input type="submit" value="Login to Access portal">
    </form>
    <form class="container3" method="get" action="/alums">
        <input type="submit" value="View all Alumni">
    </form>
</body>

</html>