<div class="container">
        <h1>Procedure to Add your Profile</h1>
        <p class="container3">
                <b>Profile details - </b> We urge you to provide the actual details. The soul purpose of this website is
                to
                enhance
                the quality of our alumni network. This will help in inspiring students for the future.

                <br>
                <br>
                <b>Points to be noted:</b>
        <ul class="container3">
                <li>Your details will be verified once submitted. After verification your profile will be shown here.
                </li>
                <li>Verification will be done by JNV Bharatpur.</li>
                <li>You can update your details later.</li>
        </ul>
        </p>
</div>
<h1>Thanks for visiting..</h1>