<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Literata' rel='stylesheet'>
</head>

<body>

    <h1>Alumni Showcase portal</h1>
    <p class="container3">
        <b>Welcome to our dream come true - Jawahar Navodaya Vidyalaya Bharatpur (Raj) - </b>
        It is one of the integrated school situated at Chhonakarwara, at a distance of 50 km from the district
        headquarter Bharatpur. <br>
        <br>
        <b>The Vidyalaya Aims are:</b>
    <ul class="container3">
        <li>To provide good quality education with modern techniques to the talented children predominantly from the
            rural areas
            without regard to their economic conditions.</li>
        <li>To ensure that all students of Jawahar Navodaya Vidyalaya may attain a reasonable level of competency in
            three language
            formula i.e. in Hindi, English and Gujrati.</li>
        <li>To serve, in the district, as focal points for improvements in quality of school education through sharing
            of
            experiences and facilities.</li>
    </ul>
    </p>
    <h2>Signup Form</h2>
    <p class="container2"> Enter the Required details to continue to use portal.</p>

    <div class="container">
        <form action="/signup" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="name"><span class="asterisk">&#42;</span>Full Name</label>
                </div>
                <div class="col-75">
                    <input type="text" required="" id="name" name="name" placeholder="Your name..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="phone"><span class="asterisk">&#42;</span>Phone</label>
                </div>
                <div class="col-75">
                    <input type="number" required="" id="phone" name="phone" placeholder="Your Phone..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="email"><span class="asterisk">&#42;</span>Email</label>
                </div>
                <div class="col-75">
                    <input type="email" required="" id="email" name="email" placeholder="Your Email..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="batch"><span class="asterisk">&#42;</span>Batch Year</label>
                </div>
                <div class="col-75">
                    <input type="number" required="" id="batch" name="batch" placeholder="Your Batch Year..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="password"><span class="asterisk">&#42;</span>Password</label>
                </div>
                <div class="col-75">
                    <input type="password" required="" id="password" name="password" placeholder="Your Password..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="cpassword"><span class="asterisk">&#42;</span>Confirm Password</label>
                </div>
                <div class="col-75">
                    <input type="password" required="" id="cpassword" name="cpassword" placeholder="Confirm Password..">
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

</body>

</html>